@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    --siteColor: #005792;
    --hoverBg:#005792;
    --hoverColor: white;
 }
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  text-decoration: none;
  color: black;
}
.btn:hover {
  background-color: var(--hoverBg);
  color: var(--hoverColor);
}

@import url(./assets/components.css);